<div id="footer">
    <div class="inner">
<!--@css(/css/module/layout/logobottom.css)-->


        <div module="Layout_footer" class="ft">
          <!--@css(/css/module/layout/footer.css)-->
            <div class="ftTell">
              <h3>C / S CENTER</h3>
              <span>{$phone}</span>
              <ul class="app">
                <li><a href="https://play.google.com/store?hl=ko"><i class="xi-google-play xi-2x"></i><!--<span>Google Play</span>--></a></li>
                <li><a href="https://www.apple.com/kr/app-store/"><i class="xi-apple xi-2x"></i><!--<span> App Store</span>--></a></li>
              </ul>
            </div>
            <div class="address">
              <h3>INFOTMATION</h3>
              <ul class="utilMenu">
                  <li><a href="/member/agreement.html">이용약관</a></li>
                  <li><a href="/member/privacy.html"><strong>개인정보처리방침</strong></a></li>
                  <li><a href="/shopinfo/guide.html">이용안내</a></li>
              </ul>

              <div>
                <span>상호 : {$company_name} </span> <span>대표 : {$president_name}</span>  <span>{$biz_no_link}</span> <br />
                <span>주소 : {$mall_zipcode} {$mall_addr1} {$mall_addr2}</span><br />
                <span class="{$cpo_email|display}">개인정보보호책임자 : <a href="mailto:{$cpo_email}">{$cpo_name}({$cpo_email})</a></span>
                <p class="copyright">Copyright &copy; <strong>NCS | 박소정의 포토폴리오</strong>. All rights reserved.</p>
              </div>
            </div>
            <div class="made">
              <h3>MADE</h3>
              <p class="psjInfo">더 많은 프로젝트 보러가기</p>
              <a href="//sj926thwjdk.cafe24.com" target="_blank"><img src="/web/psj/footer_made.gif" alt="소개페이지로 이동"></a>
              <ul class="snsLink">
                <li><a href="https://open.kakao.com/o/sHSbYT6c" target="_blank"><i class="xi-kakaotalk xi-2x"></i></a></li>
                <li><a href="https://open.kakao.com/o/sHSbYT6c" target="_blank"><i class="xi-instagram xi-2x"></i></a></li>
                <li><a href="https://open.kakao.com/o/sHSbYT6c" target="_blank"><i class="xi-facebook xi-2x"></i></a></li>
              </ul>
            </div>
        </div>

    </div>
</div>
