.xans-layout-logotop { }
.xans-layout-logotop a { font-family: 'Montserrat', sans-serif; font-size:40px; color:#008bcc; font-weight:bold; text-decoration:none; font-style:normal; }
.xans-layout-logotop img {max-width:800px; max-height:112px; transition:all .3s; }
