.xans-layout-productrecent {
  display: flex;
  position: absolute;top: 0;right: 100%;
  margin-right:2px;
  box-sizing: border-box;
  height: 60px;
  border:5px solid #222;
  text-align:center;
  background:#fff;
}
.xans-layout-productrecent h2 a { display:block; padding:3px 0; font-size:12px; line-height:17px; font-weight:normal; color:#2e2e2e; }
.xans-layout-productrecent ul {display: flex;justify-content: space-around; }
.xans-layout-productrecent li a { color:#2e2e2e; }
.xans-layout-productrecent li img { max-width:76px; }
.xans-layout-productrecent li span { display:block; padding:2px 0; line-height:16px; font-size: 9px;}
.xans-layout-productrecent .player { overflow:hidden; *zoom:1; }
.xans-layout-productrecent .player img { float:left; }
